$twoArticles: 500px;
$threeArticles: 800px;
$fourArticles: 1100px;
$fiveArticles: 1400px;
$sixArticles: 1700px;
$sevenArticles: 2000px;
$bgColor: rgb(241, 244, 247);
$skyBlue: #c1d8ff;
$lightSkyBlue: #e9f1ff;
$blue: #1a7cff;
$lightRed: #ff6d6d;
$gray: #c0c0c0;
$lightgray: #f0f0f0;
