.recipe-item{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    width: 30%;
    height: 240px;
    padding: 10px 20px;
    font-weight: bold;
    // text-align: center;
    .picture-item{
        border: 1px solid black;
        overflow: hidden;
        width: 100%;
        height: 70%;
        line-height: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
        background-color: white;
        img{
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }
}