.item-container{
    width: 100%;
    height: 120px;
    border-bottom: 0.5px solid lightgray;
    .item-img-container{
        float: left;
        padding: 10px;
        width:120px;
        height: 120px;
        img{
            max-width: 100px;
            max-height: 100px;
        }
    }
    .item-body-container{
        float: left;
        height: 120px;
        padding: 10px;
        width: 350px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
        align-items: flex-start;
        div{
            display: flex;
            flex-direction: row;
            flex-grow: 0;
        }
        .store-name{
           padding-top:30px;
           color: #a7496d;
           font-weight: bolder;
           font-size: 0.8rem;
           padding-bottom: 5px;
        }

    }
    .item-option-container{
        float: left;
        height: 120px;
        width:150px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            display: flex;
            flex-direction: row;
        }
        .price{
            padding-top:30px;
        }
    }
    .item-button-container{
        float: right;
        height: 120px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        button{
            flex-grow: 0;
            width:100px;
            padding:5px 10px;
            margin:5px;
            border:1px solid black;
            border-radius: 10px;
        }
        .purchase-btn{
            color:cornflowerblue;
        }
        .delete-btn{
            color:red;
        }
    }
}